<style>
    #Footer {
        background-color: gray;
        height: 28px;
        font-size: 12pt;
        color: white;
        line-height: 20pt;
        text-align: center;
    }
</style>
<div id="Footer">
    <p> 軟體工程 第22組 </p>
</div>


