
@{
    ViewBag.Title = "管理中心";
}

<h2>管理中心</h2>
<br />
<p style="text-align:center"><a id="ManageProduct" href="/Admin/ManageProduct">管理商品</a></p>
<p style="text-align:center"><a id="ManageOrder" href="/Admin/ManageOrder">管理訂單</a></p>
<p style="text-align:center"><a id="ManageService" href="/Admin/ManageService">管理客服</a></p>
<br />

